<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<h1><%- message %></h1>
<h2><%- error.status %></h2>
<pre><%- error.stack %></pre>
</body>
</html>