<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Picture search</title>
    <link rel="stylesheet" href="/semantic-ui/dist/semantic.min.css" />
    <link rel="stylesheet" href="/css/default.css">

    <script src="/angular2/bundles/angular2-polyfills.js"></script>
    <script src="/es6-shim/es6-shim.js"></script>
    <script src="/reflect-metadata/Reflect.js"></script>
    <script src="/typescript/lib/typescript.js"></script>
    <script src="/systemjs/dist/system.src.js"></script>
    <script src="/rxjs/bundles/Rx.js"></script>
    <script src="/angular2/bundles/http.js"></script>
    <script src="/angular2/bundles/angular2.dev.js"></script>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/semantic-ui/dist/semantic.min.js"></script>
    <script>
        System.config({
            packages: {
                app: {
//                    format: 'register',
                    defaultExtension: 'js'
                }
            }
        });
        System.import('/app/boot').then(null, console.error.bind(console));
//
//
//        System.config({
//            transpiler: 'typescript',
//            typescriptOptions: {emitDecoratorMetadata: true},
//        });
//        System.import('/app/boot.ts');
    </script>

</head>
<body>

<header class="ui attached inverted menu">
    <form action="" class="item" id="search-places">
        <div class="ui input"><input type="text" placeholder="Search places..." /></div>
    </form>
    <a href="#" class="item blue active"><i class="instagram icon"></i> Login with Instagram</a>
    <div class="ui simple dropdown item">
        Simon
        <i class="dropdown icon"></i>
        <div class="menu">
            <a class="item"><i class="edit icon"></i> Edit Profile</a>
            <a class="item"><i class="globe icon"></i> Choose Language</a>
            <a class="item"><i class="settings icon"></i> Account Settings</a>
        </div>
    </div>
</header>

<main class="ui grid">
    <div class="row">
        <div class="nine wide column" id="image-picker">
            <images></images>
        </div>
        <div class="seven wide column" id="map-picker">
            <iframe width="100%"
                    height="100%"
                    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d19867.822928082714!2d-0.10565235!3d51.50444845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2suk!4v1451660856359" allowfullscreen></iframe>
        </div>
    </div>
</main>
</body>
</html>