header #search-places input[type=text] {
    min-width: 250px;
}

main {
    position: absolute;
    left: 0;
    right: 0;
    top: 61px;
    bottom: 17px;
}

main.ui.grid > .row {
    height: 100%;
    padding: 0;
    margin: 0;
}

main > .row > .column {
    height: 100%;
}

main #image-picker {
    overflow: auto;
    padding: 20px 15px 0 30px;
}

main #map-picker {
    padding-left: 0;
    padding-bottom: 0;
}

main #map-picker iframe {
    margin: 0;
    padding: 0;
    border: 0;
}